@using Dashboard.App.Models
<Card Class="my-2">
    <CardHeader Color="CardColor.Success">
            @(AccountDto?.AccountRef ?? "Unknown...")
    </CardHeader>
    <CardBody>
        <p class="card-text">Account Number: @AccountDto?.AccountId</p>
        <p class="card-text">Account Type: @AccountDto?.AccountType</p>
        <p class="card-text">Balance: @AccountDto?.TotalBalance [@AccountDto?.Currency]</p>
    </CardBody>
</Card>



@code {
    [Parameter] public BankAccountDto? AccountDto { get; set; }
}
