@page "/"
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Identity.Web

@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Home</PageTitle>

<h1>Hello, @(UserId ?? "Stranger")!</h1>

Welcome to your new app.

@code {
    private IEnumerable<Claim> claims = Enumerable.Empty<Claim>();

    private string UserId {get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider
            .GetAuthenticationStateAsync();

        if(authState.User.Identity?.IsAuthenticated ?? false)
        {
            var user = authState.User?.Identity as ClaimsIdentity;
            UserId = user?.Claims?.FirstOrDefault(x => x.Type == "name")?.Value ?? "Stranger";

            claims = user?.Claims ?? Enumerable.Empty<Claim>();
            foreach (var claim in claims)
            {
                Console.WriteLine($"{claim.Type}: {claim.Value}");
            }
        }

    }
}